<section class="about-us about-us-uid-1">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12 left text-lg-left text-center wow fadeInLeft p-0" data-wow-delay=".3s">Все начинается
                                с правильного планирования
            </div>
            <div class="col-lg-6 col-12 right text-lg-left text-center wow fadeInRight p-0" data-wow-delay=".3s">
                <p>Мы знаем, насколько важно для продавца
                                        поддерживать уровень своих запасов.</p>
                <p>И о последствиях, которые могут наступить, если товар не будет готов или не будет доставлен вовремя.
                                        Вот почему наши специалисты работают в тесном контакте с клиентами и поставщиками, планируя всю
                                        работу
                                        самым оптимальным образом.</p>
            </div>
        </div>
    </div>
</section>

<section class="about-us about-us-uid-2"></section>

<section class="about-us about-us-uid-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 left text-lg-left text-center wow fadeInLeft" data-wow-delay=".3s">
                <b>Расходы</b>
                на доставку также не должны влиять
                                на
                                вашу прибыль, поэтому мы сводим их к минимуму, предоставляя вам лучшие решения и тарифы на авиа, авто,
                                ж/д и морские перевозки.
            </div>
            <div class="col-lg-6 col-12 right text-lg-left text-center wow fadeInRight" data-wow-delay=".3s">Мы хорошо знакомы с условиями работы
                <b>Amazon</b>
                и
                                другими площадками, инструкциями по упаковке и доставке и следим за их изменениями.
            </div>
        </div>
    </div>
</section>

<section class="about-us about-us-uid-4"></section>

<section class="about-us about-us-uid-5">
    <div class="container">
        <div class="row">
            <div class="col-12 left text-center wow fadeInUp" data-wow-delay=".3s">Наши комплексные решения по поиску поставщиков, контролю
                                производства, упаковке и доставке партий товара по всему миру, в том числе на склады Amazon FBA,
                                поддерживают
                                продавцов
                <b>на каждом этапе их пути.</b>
            </div>
        </div>
    </section>

    <section class="about-us about-us-uid-6"></section>

    <section class="about-us about-us-uid-7">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-12 left text-lg-left text-center wow fadeInLeft p-0" data-wow-delay=".3s">Мы не предлагаем услуги, которые вам на самом
                                    деле не нужны
                </div>
                <div class="col-lg-6 col-12 right text-lg-left text-center wow fadeInRight p-0" data-wow-delay=".3s">
                    <p>Благодаря многолетней работе с поставщиками и
                                            заказчиками, сотням реализованных заказов, а также множеству решенных спорных вопросов, наши
                                            сотрудники обладают большим опытом и готовыми успешными решениями для самых сложных задач.</p>

                    <p>Поэтому, после обработки вашего запроса, мы предложим только действительно необходимое, что позволит
                                            вам существенно оптимизировать свои затраты.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="about-us about-us-uid-8">
        <p class="wow fadeInUp" data-wow-delay=".3s">Наша компания находится в Китае и имеет склады в городах:<br/>
            Yiwu, Shenzhen, Suifenhe
        </p>
    </section>

    <section class="about-us about-us-uid-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 left text-lg-left text-center wow fadeInLeft" data-wow-delay=".3s">Сотрудники
                    <b>CHINAFORUS</b>
                    свободно говорят на
                                    китайском языке и обеспечивают высокий уровень обслуживания клиентов за счет профессионализма,
                                    многолетнего опыта и индивидуального подхода к каждому заказу.
                </div>
                <div class="col-lg-6 col-12 right text-lg-left text-center wow fadeInRight" data-wow-delay=".3s">
                    Кроме того, мы имеем обширные связи и партнеров
                    <b>по всему Китаю</b>.
                </div>
            </div>
        </div>
    </section>

    <section class="about-us about-us-uid-10">
        <p class="wow fadeInUp" data-wow-delay=".3s">Поэтому мы лично позаботимся о том, чтобы ваш заказ был упакован, промаркирован и отправлен в соответствии с
                    требованиями
        </p>
    </section>
