{% set options = { items: {'@page.children': '/blog'}, 'limit': 4, 'order': {'by': 'date', 'dir': 'desc'}} %}
{% set collection = page.collection(options) %}

<section class="blog" id="blog">
    <div class="section-info wow fadeInUp" data-wow-delay=".3s">
        <h2 class="section_title">В нашем блоге:</h2>
        <h3 class="section_desc">Главные события из мира Китая, которые влияют на ведение бизнеса, способы
                                самостоятельного выбора поставщика, распространенные ошибки при заказе товаров и многое другое</h3>
    </div>
    <div class="container-fluid">
        <div class="row box-items">
            {% for p in collection %}
                {% set image = p.media.images|first %}
                <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item blog-item wow fadeIn" data-wow-delay=".3s" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{image.url}}) center no-repeat">
                    <div class="box-item-shade"></div>
                    <div class="box-item-info">
                        <div class="box-item-info-inner">
                            <div class="wrap">
                                <div class="box-item-title">{{ p.title }}</div>
                                <div class="box-item-desc">{{ p.content|slice(0,40)}}</div>
                                <div class="box-item-btn">
                                    <a href="{{ p.url }}" target="_blank">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
