<section class="contacts" id="contacts">
    <div class="section-info wow fadeInUp" data-wow-delay=".3s">
        <h2 class="section_title">Наши контакты</h2>
    </div>
    <div class="container wrap-info wow fadeInUp" data-wow-delay=".3s">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-12">E-mail:
                <a href="mailto:{{ site.contacts.email }}">{{ site.contacts.email }}</a>
            </div>
            <div class="col-12">Телефон:
                <a href="tel:8613957945181">+86 139 5794 5181</a>
            </div>
            <div class="col-12">Соцсети:
                <a class="soc" href="{{ site.contacts.instagram }}">Instagram</a>
                |
                <a class="soc" href="">Youtube</a>
            </div>
        </div>
    </div>
</section>
