<section class="faq" id="faq">
    <div class="section-info wow fadeInUp" data-wow-delay=".3s">
        <h2 class="section_title">FAQ</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="faq-list" class="wow jackInTheBox">
                    <div class="card">
                        <div class="card-header" id="headingOne" style="background: #f5914f">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #fff">
                                    Как вы проверяете товар? Вы находитесь в Китае?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-list">
                            <div class="card-body">
                                <p>Мы находимся в Китае, что дает нам возможность видеть в каком состоянии ваши товары
                                                                        отправляются вам или на склады Амазон.</p>

                                <p>При получении товар осматривается. Производятся замеры и взвешивание. Если коробки
                                                                        повреждены или не соответствуют заявленному товару, весу, об этом сообщается вам. Мы
                                                                        можем осуществить замену коробок на соответствующие и/или усилить их специальными
                                                                        транспортировочными уголками. Осмотр товара, находящегося в транспортировочных
                                                                        коробках,
                                                                        путем вскрытия случайных коробок производится бесплатно, фото (и/или видео) также
                                                                        предоставляется. Если требуется, на транспортировочные коробки клеятся
                                                                        дополнительные
                                                                        шипментлэйблы, по 2 штуки - также бесплатно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link faq-btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Сколько стоит доставка товара на склад Амазон?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-list">
                            <div class="card-body">
                                Для расчета стоимости доставки, пожалуйста, ознакомьтесь и заполните заявку или просто
                                                                свяжитесь с нами. Минимальный вес 1 места (транспортировочной коробки), физический или
                                                                объемный, - не менее 10 кг в США, 15 кг в Европу. Морем - от 100 кг.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-info wow jackInTheBox pt-5">
        <h2 class="section_desc">Больше вопросов и ответов здесь:</h2>
        <button class="faq-btn-more mt-5">FAQ</button>
    </div>
</section>
