{% set reviewsPage = page.find('/reviews') %}

<section class="reviews" id="reviews">
    <div class="section-info wow fadeInUp" data-wow-delay=".3s">
        <h2 class="section_title">Отзывы</h2>
    </div>
    <div class="container-fluid">
        <div class="row items">
            {% for item in reviewsPage.header.reviews|slice(0,3) %}
                <div class="col-lg-4 col-md-8 col-12 item text-md-left text-center wow fadeIn" data-delay=".3s">
                    <div class="row">
                        {% if item.img %}
                            <div class="col-xl-4 col-lg-12 col-md-4 col-12">
                                <div class="item-img">
                                    <img src="{{ url('theme://img/reviews/' ~ item.img|first.name) }}"/>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-xl-8 col-lg-12 col-md-8 col-12">
                            <div class="item-name">{{ item.name }}</div>
                            <div class="item-review">
                                {{ (item.review|length > 130) ? item.review[:130] ~ ' ... <a href="reviews">Еще</a>' : item.review }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="reviews">
        <button class="reviews-button wow fadeIn" data-delay=".3s">Все отзывы</button>
    </a>

</section>
