<section class="services" id="services">
    <div class="section-info wow fadeInUp" data-wow-delay=".3s">
        <h2 class="section_title">Услуги</h2>
        <h3 class="section_desc">Все ваши потребности в одном месте</h3>
    </div>
    <div class="container-fluid">
        <div class="row box-items">
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Поиск</div>
                            <div class="box-item-desc">Товаров, поставщиков по соответствию цена/качество</div>
                            <div class="box-item-btn">
                                <a href="services/search" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Обзор/тест/испытание образцов товара</div>
                            <div class="box-item-desc">Тест/полный обзор образцов товара</div>
                            <div class="box-item-btn">
                                <a href="services/overview" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Сопровождение сделки</div>
                            <div class="box-item-desc">Ведение сделки нашими специалистами</div>
                            <div class="box-item-btn">
                                <a href="services/transaction" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Инспекция</div>
                            <div class="box-item-desc">Фабрик (до и во время производства), партий товара</div>
                            <div class="box-item-btn">
                                <a href="services/inspection" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Фото на листинг</div>
                            <div class="box-item-desc">Предметная фотосъемка</div>
                            <div class="box-item-btn">
                                <a href="services/foto-na-listing" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Услуги склада</div>
                            <div class="box-item-desc">Наша компания находится и имеет несколько складов в Китае
                            </div>
                            <div class="box-item-btn">
                                <a href="services/uslugi-sklada" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Консолидация</div>
                            <div class="box-item-desc">Сборка товаров/образцов: консолидация по формуле 5+5+</div>
                            <div class="box-item-btn">
                                <a href="services/konsolidaciya" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 box-item services-item wow fadeIn" data-wow-delay=".3s">
                <div class="box-item-shade"></div>
                <div class="box-item-info">
                    <div class="box-item-info-inner">
                        <div class="wrap">
                            <div class="box-item-title">Логистика</div>
                            <div class="box-item-desc">Транспортная, железнодорожная, авиа, экспресс</div>
                            <div class="box-item-btn">
                                <a href="services/logistika" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
