<section class="reviews" id="reviews">
    <div class="container">
        <div class="row items">
            {% for item in page.header.reviews %}
                <div class="col-12 item text-md-left text-center wow fadeIn" data-delay=".3s">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-12">
                            {% if item.img %}
                                <div class="item-img">
                                    <img src="{{ url('theme://img/reviews/' ~ item.img|first.name) }}"/>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-9 col-12">
                            <div class="item-name">{{ item.name }}</div>
                            <div class="item-review">{{ item.review }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
