@media all and (max-height: 567px) {
  .header-wrap {
    height: auto !important;
  }
  .header-wrap-arrow {
    visibility: hidden;
  }

  .contacts {
    .wrap-info {
      font-size: 14px;
    }
  }
  .transaction {
    .section_title{
      font-size: 20px;
    }
    #timeline{
      margin-left: 20px;

    }
    .timeline-item {
      .timeline-content {
        h2 {
          font-size: 1.8em;
        }

        p {
          font-size: 1.2em;
        }
      }
    }
    .main-btn{
      padding: 5px 10px;
    }
  }

}

@media all and (max-width: 768px) {
  body {
    font-size: 9px;
  }
  .header-nav {
    text-align: center !important;
    padding: 5px 15px !important;
    height: auto !important;

    .header-logo {
      height: 45px !important;
    }

    .header-nav-item:first-child {
      padding-left: 15px !important;
    }
  }

  .header-wrap {
    padding-top: 15px;

    .header-wrap-title {
      font-size: 4em !important;
      .yellow-bg {
        display: block;
      }
    }

    .header-wrap-desc {
      font-size: 2em !important;
      margin: 20px 0;
    }

    .header-wrap-btn {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .header-wrap-arrow {
      visibility: hidden;
    }

    .header-wrap-info {
      padding: 0 20px;
    }
  }

  .services-item-title {
    font-size: 18px;
  }

  .whyAreWe {
    .items {
      .item:nth-child(2) {
        border-left: none;
        border-right: none;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .callback {
    .callback-email, .callback-name {
      width: 100% !important;
    }
  }
}

@media all and (min-width: 1500px) {
  .reviews {
    max-width: 1350px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 8px;
  }

}