@media screen and (max-width: 768px) {
  .header-wrap {
    height: calc(100vh - 40px - 40%);
  }
}

header.other-page-header {
  .header-wrap {
    height: calc(100vh - 80px - 40%);
  }
}

.about-us{
  margin: 60px 0;
}

.about-us-uid-1, .about-us-uid-7{
  .left{
    font-size: 4.8em;
    font-weight: 600;
    line-height: 56px;
    padding: 20px 10px;
  }
  .right{
    font-size: 2.2em;
    font-weight: 400;
    padding: 20px 10px;
  }
}

.about-us-uid-2{
  height: 540px;
  background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url("../img/about-us/1.jpg") center fixed no-repeat;
  background-size: cover;
}

.about-us-uid-3, .about-us-uid-9{
  font-size: 2.2em;
  font-weight: 400;
}

.about-us-uid-4{
  height: 540px;
  background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url("../img/about-us/2.jpg") center fixed no-repeat;
  background-size: cover;
}

.about-us-uid-5{
  font-size: 2.4em;
  font-weight: 400;
}

.about-us-uid-6{
  height: 540px;
  background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url("../img/about-us/3.jpg") center fixed no-repeat;
  background-size: cover;
}

.about-us-uid-8, .about-us-uid-10{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../img/about-us/4.jpg") center fixed no-repeat;
  background-size: cover;
  font-size: 3em;
  color: #fff;
  text-align: center;
  p{
    max-width: 1100px;
  }
}

.about-us-uid-10{
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../img/about-us/5.jpg") center fixed no-repeat;
  background-size: cover;
}

.doubt{
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/all/bg.jpeg") center no-repeat fixed;
  background-size: cover;
}