@media all and (max-width: 768px){
  body{
    font-size: 7px;
  }

  .header-wrap{
    height: 528px;
    padding-top: 15px;
  }
  .header-wrap-info{
    padding: 0 20px;
  }
  .header-nav{
    padding: 5px 15px;
    height: auto;
  }
  .header-logo{
    height: 45px;
  }
  .header-wrap-title{
    font-size: 6em;
  }
  .header-wrap-desc{
    margin: 20px 0;
  }
  .header-wrap-btn{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header-wrap-arrow{
    visibility: hidden;
  }

  .services-item-title{
    font-size: 18px;
  }

  .whyAreWe{
    .items{
      .item:nth-child(2){
        border-left: none;
        border-right: none;
      }
    }
  }
}