@media all and (max-width: 768px){
  body{
    font-size: 9px;
  }
  .header-nav{
    text-align: center !important;
    padding: 5px 15px !important;
    height: auto !important;
    .header-logo{
      height: 45px !important;
    }
    .header-nav-item:first-child {
      padding-left: 15px !important;
    }
  }

  .header-wrap{
    height: 528px;
    padding-top: 15px;

    .header-wrap-title{
      font-size: 5em !important;
    }
    .header-wrap-desc{
      margin: 20px 0;
    }
    .header-wrap-btn{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .header-wrap-arrow{
      visibility: hidden;
    }
    .header-wrap-info{
      padding: 0 20px;
    }
  }

  .services-item-title{
    font-size: 18px;
  }

  .whyAreWe{
    .items{
      .item:nth-child(2){
        border-left: none;
        border-right: none;
      }
    }
  }
}