// Variables
$bg-body: #fff;

$red: #ee4d4d;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;

$base-font-color: #000;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

.transaction {
  max-width: 1100px;
  margin: 100px auto 0 auto;

  img {
    max-width: 100%;
  }

  .main-btn {
    margin-top: 0;
  }
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

// Timeline
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  @include prefix(transition, all .4s ease);

  &:before {
    content: "";
    width: 2px;
    height: 92.8%;
    background: #000;
    left: 50%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: transparent;
      height: 70px;
      width: 70px;
      position: absolute;
      top: 0;
      left: calc(50% - 7px);
      overflow: hidden;
      margin-left: -23px;
    }

    .timeline-content {
      text-align: right;
      width: 45%;
      background: transparent !important;
      padding: 20px 20px 20px 120px;
      @include prefix(border-radius, 5px);
      @include prefix(transition, all .3s ease);

      h2 {
        font-size: 24px;
        padding: 10px 22px 22px 22px;
        font-weight: 600;
        background: transparent;
        color: #000;
        margin: -20px -20px 0 -20px;
        @include prefix(border-radius, 3px 3px 0 0);
      }

      p {
        background: transparent;
        font-size: 16px;
      }

      &.right {
        text-align: left;

        h2 {
          margin-left: 0;
        }
        p{
          margin-left: 20px;
        }

        padding-left: 0;
        float: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;

    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;
        padding-left: 30px;
        text-align: left;

        &.right {
          h2 {
            margin-left: 10px;
          }
          p{
            margin-left: 25px;
          }
        }

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }

      .timeline-icon {
        left: -6px;
      }
    }
  }
}