$textWhite: #ffffff;
$textBlack: #000000;
$orangeColor: #f5914f;
$h2: 3.8em;
$h3: 2.4em;
$sectionMargin: 100px auto;

%textSemiBold {
  font-weight: 600;
}

%textBold {
  font-weight: 700;
}


body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', arial, sans-serif !important;
  font-weight: 400;
  font-size: 10px;
}

section {
  margin: $sectionMargin;
}


.section-info {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px 100px 10px;
  color: $textBlack;

  .section_title, .section_desc {
    text-align: center;
  }

  .section_title {
    font-size: 3.6em;
    @extend %textSemiBold;
  }

  .section_desc {
    font-size: 2.2em;
    padding-top: 40px;
  }
}

.main-btn{
  margin-top: 40px;
  background: $orangeColor;
  border: 2px solid $orangeColor;
  text-transform: uppercase;
  color: $textWhite;
  padding: 16px 55px;
  font-size: 1.6em;
  transition: .5s;
  @extend %textBold;

  &:hover {
    background: #fff;
    color: $orangeColor;
  }
}


///////////////////

header {
  background: url("../../img/all/bg.jpeg") center;
  background-size: cover !important;

  .header-nav {
    background: rgba(0, 0, 0, 0.5);
    height: 80px;
    padding: 5px 40px;

    .header-logo {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .header-nav-item {
      padding: 0 15px;
      font-size: 16px;
      text-decoration: none;
      color: $textWhite;
      @extend %textSemiBold;
    }

    .header-nav-item:first-child {
      padding-left: 0;
    }

    .header-nav-item {
      &:hover {
        color: $orangeColor;
      }
    }

    .header-nav-toggle {
      fill: #fff;
      height: 40px;
    }
  }

  .header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));

    .header-wrap-info {
      max-width: 940px;
      text-align: center;

      .header-wrap-title {
        color: $textWhite;
        font-size: 8.2em;
        @extend %textSemiBold;
        visibility: hidden;
      }

      .header-wrap-desc {
        color: $textWhite;
        font-size: 2.4em;
        margin: 40px 0;
        visibility: hidden;
        font-weight: 100;
      }

      .header-wrap-btn {
        margin: 60px 0;
        visibility: hidden;
      }

      .header-wrap-btn button {
        background: $orangeColor;
        border: 1px solid $orangeColor;
        text-transform: uppercase;
        color: $textWhite;
        padding: 16px 55px;
        font-size: 1.6em;
        transition: .5s;
        @extend %textBold;

        &:hover {
          background: #fff;
          border: 1px solid #fff;
          color: $orangeColor;
        }
      }

    }
  }

  .header-wrap-arrow {
    position: absolute;
    fill: #fff;
    animation: header-wrap-arrow-anim 1.4s infinite ease-in;
    cursor: pointer;
    transition: fill .3s;

    &:hover {
      fill: #C2BAB9;
    }
  }
}

@keyframes header-wrap-arrow-anim {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 50px;
  }
}

.services-items {
  display: flex;
  justify-content: center;
}

.services-item {
  border: 10px solid #fff;
  position: relative;
  height: 300px;
  cursor: pointer;
  background-size: 150% !important;
  transition: .3s;

  &:hover {
    background-size: 160% !important;
  }

  &:hover .services-item-shade {
    background: rgba(0, 0, 0, .5);
  }

  &:hover .services-item-info {
    padding: 20px;
  }

  &:hover .services-item-info-inner {
    border: 2px solid #fff;
  }

  &:hover .services-item-desc {
    animation: services-item-desc-anim .5s forwards;
  }

  &:hover .services-item-btn {
    opacity: 1;
  }

}

.services-item-shade {
  transition: background-color .3s;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

@for $i from 1 through 8 {
  .services-item:nth-child(#{$i}) {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/services/#{$i}.jpg") center center no-repeat;
  }
}

.services-item-info {
  position: absolute;
  left: 0;
  transition: all .3s;
  height: 100%;
  width: 100%;

  .services-item-info-inner {
    transition: border .3s;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
      height: auto;
      width: auto;
    }
  }

  .services-item-title, .services-item-desc {
    color: $textWhite;
  }

  .services-item-title {
    position: relative;
    font-size: 22px;
    z-index: 5000;
  }

  .services-item-desc {
    position: relative;
    font-size: 18px;
    z-index: 5000;
    padding: 0 10px;
    font-weight: 100;
    opacity: 0;
  }

  .services-item-btn {
    position: relative;
    z-index: 5000;
    transition: 1s;
    opacity: 0;
    padding-top: 20px;

    a {
      transition: .5s;
      border: 2px solid #fff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
      padding: 10px 40px;
      color: $textWhite;
      @extend %textSemiBold;
      text-decoration: none;

      &:hover {
        border: 2px solid $orangeColor;
        background: $orangeColor;
      }
    }
  }
}

@keyframes services-item-desc-anim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.activity {
  padding: 100px 0;
  color: $textWhite;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../../img/all/bg.jpeg") center no-repeat;
  background-size: cover;
  font-weight: 100;

  .activity-inner {
    text-align: center;
    font-size: 2.8em;
  }

  .typewriter {
    @extend %textBold;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: blink-caret .5s step-end infinite;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: orange
    }
  }
}


.whoAreWe {
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .item-img {
    img {
      width: 100%;
    }
  }

  .item-name {
    font-size: 18px;
    @extend %textBold;
    padding: 10px 0;
  }

  .item-hr {
    margin: 0 auto;
    background: #E2E2E2;
    width: 4em;
    height: .3em;
  }

  .item-position {
    font-size: 14px;
    padding: 10px 0;
  }
}

.whyAreWe {
  text-align: center;
  padding: 0 20px;

  div {
    margin-bottom: 25px;
  }

  .item-img {
    img {
      width: 100px;
    }
  }

  .item-name {
    font-size: 24px;
    @extend %textBold;
  }

  .item-desc {
    font-size: 18px;
    font-weight: 300;
  }

  .items {
    .item {
      padding: 0 25px;
    }

    .item:nth-child(2) {
      border-left: 1px solid #D2D2D2;
      border-right: 1px solid #D2D2D2;
    }
  }
}

.doubt {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../../img/doubt/bg.jpg") no-repeat fixed;
  background-size: cover;
  padding: 60px 20px 50px 20px;
  text-align: center;

  .section-info {
    color: $textWhite;
  }

  .items {
    color: $textWhite;

    .item {
      padding: 20px 10px;

      .item-count {
        font-size: 48px;
        font-weight: 700;
      }

      .item-desc {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

.reviews {
  text-align: center;

  .items {
    display: flex;
    justify-content: center;

    .item {
      padding: 50px 20px;
      text-align: left;

      .item-img {
        img {
          height: 121px;
          width: 120px;
          padding-bottom: 10px;
        }
      }

      .item-name {
        font-size: 18px;
        font-weight: bold;
      }

      .item-review {
        line-height: 32px;
        font-size: 16px;

        a {
          text-decoration: underline;
        }
      }

      .item-stars {
        padding-top: 10px;

        svg {
          height: 20px;
          fill: #f5914f;
        }
      }
    }
  }

  .reviews-button {
    margin-top: 20px;
    background: $orangeColor;
    border: 2px solid $orangeColor;
    text-transform: uppercase;
    color: $textWhite;
    padding: 16px 55px;
    font-size: 1.6em;
    transition: .5s;
    @extend %textBold;

    &:hover {
      background: #fff;
      color: $orangeColor;
    }
  }
}

.faq {
  .card {
    margin-top: 5px;

    .card-header {
      border: 2px solid $orangeColor !important;
      background: #fff;
      transition: .3s;

      button {
        text-decoration: none;
        color: $orangeColor;
      }
    }

    .card-body {
      font-size: 16px;
    }
  }

  .section-info {
    text-align: center;
    padding-bottom: 0;

    .faq-btn-more {
      background: #fff;
      margin-top: 20px;
      border: 2px solid $orangeColor;
      text-transform: uppercase;
      color: $orangeColor;
      padding: 16px 55px;
      font-size: 1.6em;
      transition: .5s;
      @extend %textBold;

      &:hover {
        background: $orangeColor;
        color: #fff;
      }
    }
  }
}


.callback {
  padding: 0 20px;

  .form {
    .callback-textarea {
      width: 100%;

      .js-callback-textarea {
        width: inherit;
        height: 300px;
        border-radius: 5px;
        border: 1px solid #DBDBDB;
        padding: 10px;
        color: #9B9B9B;
        font-size: 16px;
      }
    }

    .callback-email, .callback-name {
      width: 49%;

      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #DBDBDB;
        padding: 10px;
        color: #9B9B9B;
        font-size: 16px;
      }
    }

    .js-callback-btn {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      background: $orangeColor;
      border: 2px solid $orangeColor;
      padding: 15px 30px;
      transition: .3s;

      &:hover {
        color: $orangeColor;
        background: #fff;
      }
    }
  }

  .callback-title {
    font-size: 16px;
    @extend %textSemiBold;
  }

  .callback-desc {
    padding-top: 10px;
    font-size: 14px;
    font-width: 300;
  }
}


footer {
  background: #111111;
  padding: 100px 20px;

  .footer-logo img {
    width: 100%;
  }

  .footer-soc {
    padding: 15px 0;
    a{
      text-decoration: none;
    }
    svg {
      margin: 0 5px;
      height: 40px;
      width: 40px;
      transition: .3s;
      fill: #5A5A5A;
      &:hover {
        fill: #4A4A4A;
      }
    }
  }

  .footer-copyright {
    font-weight: 300;
    font-size: 14px;
    color: #525252;
  }

  .menu-title{
    font-size: 16px;
    color: #52524F;
    @extend %textSemiBold;
  }

  .menu{
    list-style-type: none;
    padding: 0;
    li{
      padding: 5px 0;
      a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        transition: .3s;
        text-decoration: none;
        &:hover{
          color: $orangeColor;
        }
      }
    }
  }
}


.contacts{
  margin: 0;
  padding: 50px 0;
  background: #EBEBEB;
  .section-info{
    padding-bottom: 20px !important;
  }

  .wrap-info{
    font-size: 20px;
    a{
      color: $textBlack;
      text-decoration: underline;
    }
  }
}

@import "timeline";
@import 'media';