{% extends "partials/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% do assets.addCss('theme://css/blog/styles.css') %}
{% endblock %}

{% block header %}
    {% if search_results %}
        {% set blog_head = True %}
    {% endif %}
    {% include 'partials/header.html.twig' with { 'blog_head': blog_head } %}
{% endblock %}

{% block content %}
    <section class="blog">
        <div class="container-fluid">
            <div class="row">
                {% include "partials/blog/posts-list.html.twig" with { search_results: search_results } %}
                {% include "partials/blog/sidebar.html.twig" %}
            </div>
        </div>
    </section>
{% endblock %}
