{% extends "partials/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% do assets.addCss('theme://css/blog/styles.css') %}
{% endblock %}

{% block content %}
    <section class="blog">
        <div class="container-fluid">
            <div class="row">
                {% include "partials/blog/posts-list.html.twig" with {search_results: search_results } %}
                {% include "partials/blog/sidebar.html.twig" %}
            </div>
        </div>
    </section>
{% endblock %}

{% block bottom %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/51543d4319.js"></script>
{% endblock %}
